<footer>
  <div class="footer-block">
    <div class="text-footer-top">Brasil</div>
  </div>
  <div class="footer-block footer-bottom">
    <div>
      <a class="text-footer-bottom" href="#">Sobre</a>
      <a class="text-footer-bottom" href="#">Publicidade</a>
      <a class="text-footer-bottom" href="#">Negócios</a>
      <a class="text-footer-bottom" href="#">Como funciona a Pesquisa</a>
    </div>
    <div>
      <a class="text-footer-bottom" href="#">Privacidade</a>
      <a class="text-footer-bottom" href="#">Termos</a>
      <a class="text-footer-bottom" href="#">Configurações</a>
    </div>
  </div>
</footer>
