/* You can add global styles to this file, and also import other style files */
@import './scss/reset.scss';


:root {
  font-size: 10px;
  font-family: arial,sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

d-flex {
  display: flex;
}
